@{
    ViewBag.Title = "Sector Cocina";
}



<div class="row">
	<div class="col-md-6">
		<h3>Pedidos</h3>

		
		
			<div class="list-group">
				<a class="list-group-item clearfix" onclick="alert('Action2 -> Details');">
					Pedido #1
					<span class="pull-right">
						<span class=" btn btn-warning">
							<span aria-hidden="true">Preparar</span>
						</span>
					</span>
				</a>
				<a class="list-group-item clearfix" onclick="alert('Action2 -> Details');">
					Pedido #2
					<span class="pull-right">
						<span class=" btn btn-warning">
							<span aria-hidden="true">Preparar</span>
						</span>
					</span>
				</a>
				<a class="list-group-item clearfix" onclick="alert('Action2 -> Details');">
					Pedido #3
					<span class="pull-right">
						<span class=" btn btn-warning">
							<span aria-hidden="true">Preparar</span>
						</span>
					</span>
				</a>
			</div>

		
	</div>
	<div class="col-md-6">
		<h3>Preparaciones en proceso</h3>

		<div class="list-group">
			<a class="list-group-item clearfix" onclick="alert('Action2 -> Details');">
				Pedido #1
				<span class="pull-right">
					<span class=" btn btn-success">
						<span aria-hidden="true">Entregar</span>
					</span>
				</span>
			</a>
			<a class="list-group-item clearfix" onclick="alert('Action2 -> Details');">
				Pedido #2
				<span class="pull-right">
					<span class=" btn btn-success">
						<span aria-hidden="true">Entregar</span>
					</span>
				</span>
			</a>
			<a class="list-group-item clearfix" onclick="alert('Action2 -> Details');">
				Pedido #3
				<span class="pull-right">
					<span class=" btn btn-success">
						<span aria-hidden="true">Entregar</span>
					</span>
				</span>
			</a>
		</div>
	</div>

	
</div>